<!DOCTYPE html>
<html>
<head>
	<title></title>
<style type="text/css">
	div.dailyexpbox{
		background-color: #f2f2f2;margin:2% 5%;
		box-shadow: 4px 4px 15px black;
		overflow: hidden;
	}
	@media only screen and (max-width: 600px) {
		div.dailyexpbox{
			min-width: 600px;
			margin:0;
		}
		
	}
</style>
</head>
<body>
	<%= render "navigation" %>
	<div style="padding:0;margin: 1% 5%;overflow: hidden;">
		<h4 class="bg-info" style="padding: 1%;"> Search By</h4>
		<div class="row" style="margin: 0;">
			<div class="col-3" style="">
				<div style="width: 100%;background-color: #DDD;padding:10px;">
				<label>Day</label>
				<%= form_tag("/expensereports", method: "post",id:"byday") do %>
					
					<input type="date" class="form-control" name="byday" onchange="document.getElementById('byday').submit()">
					
				<% end %>
				</div>
			</div>
			<div class="col-3" style="">
				<div style="width: 100%;background-color: #DDD;padding:10px;">
				<label>Month</label>
				<%= form_tag("/expensereports", method: "post",id:"bymonth") do %>
					
					
					
					<select name="bymonth" class="form-control"  onchange="document.getElementById('bymonth').submit()">
						<option>Select Year</option>
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
				<% end %>
				</div>
			</div>
			<div class="col-3" style="">
				<div style="width: 100%;background-color: #DDD;padding:10px;">
				<label>Year</label>
				<%= form_tag("/expensereports", method: "post",id:"byyear") do %>
					
					
					<select name="byyear" class="form-control"  onchange="document.getElementById('byyear').submit()">
						<option>Select Year</option>
						<% for y in Time.now.year.downto(2010) do %>
							<option value="<%=y%>"><%= y%></option>
						<% end %>
					</select>
				<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="dailyexpbox">
		<h4 class="bg-success" style="padding: 2%;"> Other Expense Report</h4>
		<div class="row " style="padding: 1%;">
			<div class="col-6">
				<b>Description</b>
			</div>
			<div class="col-2">
				<b>Amount</b>
			</div>
			<div class="col-2">
				<b>Assigned By</b>
			</div>
			<div class="col-2">
				<b>Date</b>
			</div>
		</div>
		<% @exps.each do |exp| %>
		<input type="hidden" class="description" name="" value="<%= exp.description %>">
	
		<div class="row" style="background-color: white;padding: 1%;">
			<div class="col-6">
				<p class="demo"></p>
			</div>
			<div class="col-2">
				<%= exp.amount %>
			</div>
			<div class="col-2">
				<%= exp.user.name %>
			</div>
			<div class="col-2">
				<%= exp.time %>
			</div>
		</div>
		<% end %>
		<% @totalexpamount = 0 %>
		<% @exps.each do |exp| %>
			<% @totalexpamount += exp.amount %>
		<% end %>
		
		<div class="row " style="padding: 1%;background-color:#DDD;color:green;" >
			<div class="col-6">
				Total Amount
			</div>
			<div class="col-2">
				<%= @totalexpamount %>
			</div>
			<div class="col-2">
				
			</div>
		</div>
	</div>
	<hr>
	<div class="dailyexpbox">
		<h4 class="bg-success" style="padding: 2%;"> Expense Report in advance</h4>
		<div class="row " style="padding: 1%;">
			<div class="col-3">
				<b>Description</b>
			</div>
			<div class="col-2">
				<b>Amount</b>
			</div>
			<div class="col-3">
				<b>Advance Description</b>
			</div>
			<div class="col-2">
				<b>Assigned By</b>
			</div>
			<div class="col-2">
				<b>Date</b>
			</div>
		</div>
		<% @expfadvs.each do |expfadv| %>
		<input type="hidden" class="description" name="" value="<%= expfadv.description %>">
	
		<div class="row" style="background-color: white;padding: 1%;">
			<div class="col-3">
				<p class="demo"></p>
			</div>
			<div class="col-2">
				<%= expfadv.amount %>
			</div>
			<div class="col-3">
				<%= expfadv.advance.description %>
			</div>
			<div class="col-2">
				<%= expfadv.user.name %>
			</div>
			<div class="col-2">
				<%= expfadv.time %>
			</div>
		</div>
		<% end %>
		<% @totalexpfadvamount = 0 %>
		<% @expfadvs.each do |expfadv| %>
			<% @totalexpfadvamount += expfadv.amount %>
		<% end %>
		
		<div class="row " style="padding: 1%;background-color:#DDD;color:green;" >
			<div class="col-3">
				Total Amount
			</div>
			<div class="col-2">
				<%= @totalexpfadvamount %>
			</div>
		</div>
	</div>
	<hr>
	<% @totaladvance = 0 %>
	<% @advance.each do |adv| %>
		<% @totaladvance = @totaladvance + adv.amountdeposit  %>
	<% end %>
	
	<% @totalbalinadvance = 0 %>
	<% @advance.each do |adv| %>
		<% @totalbalinadvance = @totalbalinadvance + adv.currentamount  %>
	<% end %>

	<% @totalexpamount = 0 %>
	<% @thismonthexps.each do |thismonthexp| %>
		<% @totalexpamount += thismonthexp.amount %>
	<% end %>
	
	<% @totalexpfadvamount = 0 %>
	<% @thismonthexpfadvs.each do |thismonthexpfadv| %>
		<% @totalexpfadvamount += thismonthexpfadv.amount %>
	<% end %>

	<div class="dailyexpbox">
		<h4 class="bg-success" style="padding: 2%;">This Month Total Expense Report</h4>
		<div class="row " style="padding: 1%;">
			<div class="col-2">
				<b>Total Advance</b>
			</div>
			<div class="col-2">
				<b>Total Balance in Advance</b>
			</div>
			<div class="col-2">
				<b>Total Advance Expense </b>
			</div>
			<div class="col-2">
				<b>Total Other Expense</b>
			</div>
			<div class="col-2">
				<b>Total Expense</b>
			</div>
			<div class="col-2">
				<b> Date</b>
			</div>
		</div>
		
		
		<div class="row " style="padding: 1%;background-color:#DDD;color:green;" >
			<div class="col-2">
				<%= @totaladvance %>
			</div>
			<div class="col-2">
				<%= @totaladvance - @totalexpfadvamount %>
			</div>
			<div class="col-2">
				<%= @totalexpfadvamount %>
			</div>
			<div class="col-2">
				<%= @totalexpamount %>
			</div>
			<div class="col-2">
				<%= @totalexpfadvamount + @totalexpamount %>
			</div>
			<div class="col-2">
				<%= DateTime.now.to_date%>
			</div>
		</div>
	</div>
<script type="text/javascript">
	var length = document.getElementsByClassName("description").length;
	var i;
	for(i=0;i<length;i++){
		document.getElementsByClassName("demo")[i].innerHTML = document.getElementsByClassName("description")[i].value.replace(/\n/g, '<br>');
	}
	
</script>
</body>
</html>